<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/appAngular">Angular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/appNgrx">Ngrx</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/appPlotlyRealtime">Plotly-Realtime</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/appNgrxPlotly">Ngrx-Plotly</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/appPrimeng">Primeng</a>
        </li>
    </ul>
</nav>