::ng-deep .p-dialog .p-dialog-content{
    font-size: 13px !important;
}

::ng-deep .p-dialog-inputtext{
    font-size: 13px !important;
}

::ng-deep .p-datepicker{
    font-size: 12px !important;
    border: 1px solid gray !important;
}

::ng-deep .p-datepicker .p-datepicker-calendar tr td {
    padding: 0px !important;
}

::ng-deep .p-datepicker-calendar{
    font-size: 12px !important;
}